body {
  max-width: 100%;
}

.nav-bar {
  margin: 0px 125px;
  width: 83.5%;
  display: flex;
  border-bottom: 1px solid gray;
  height: 100px;
}

.nav-bar-list {
  display: flex;
  flex-flow: row;
  justify-content: left;
  list-style-type: none;
  padding-left: 0px;
  color: gray;
  align-items: center;
}

.product-name ~ li {
  margin-left: 50px;
}

.sneakers {
  font-weight: bold;
  color: black;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}

.icon-cart {
  display: flex;
  justify-content: center;
  height: 20px;
  margin-left: 550px;
  padding-top: 40px;
}

.avatar {
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 25px;
  margin-left: 40px;
}
